/* ///////////// CART ///////////////// */

#cart-user-modal{
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 450px);
    display: none;
    justify-content: center;
}
.modal-container{
    background-color: #ffffff;
    /* padding: 5px; */
    width: 900px;
    max-height: 95%;
    font-size: 3rem;
    position: relative;
    border: solid 2px ;
}
.modal-header{
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}
#cart-logo{
    height: 30px;
    margin: 10px;
}
#cart-user-modal  .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.modal-items{
    padding: 10px;
    overflow: auto;
    height:387px;

}

#cart-user-modal #item-list{
    position: relative;
    border: solid 1px;
    box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.5);


}
#cart-user-modal .item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(104, 104, 104, 0.5);
    margin: 10px 10px;
}

#cart-user-modal  .item:hover {
    border: solid 1px ;
    color: red;
}
#cart-user-modal  .item img{
    height: 100px;
}
#cart-user-modal  .item input{
    height: 20px;
    width: 20px;
}
#cart-user-modal  .item *{
    font-size: 1.3rem;
}
#cart-user-modal  .item p{   
    word-wrap: break-word; 
    max-width: 100px;
    width: 100px;
    text-align: center;

}

.delete-item button{
    background-color:#f3f4f5;
    width: 20px;
    height: 20px;
}
.delete-item:hover button{
    color: red;
}
.modal-footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    width: 100%;
    height: 40px;
    align-items: center;
    padding-left: 10px;
}
.modal-footer p span{
    font-size: 30px;
}

#empty{
    font-size: 1.5rem;
    font-style: italic;
    position: absolute;
    left: 24%;
}

#Add-to-admin-cart{
    background-color: rgb(249, 109, 67);
    cursor: pointer;
    width: 150px;
    height: 100%;
    padding:3px 20px;
    font-size: 30px;
}