/* chi tiet */
.chi-tiet-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    
   
}

.chi-tiet-modal-container{
    position: absolute;
    top:10%;
    background: white;
    width: 800px;
    height: 800px;
    position: relative;
    display: flex;
    
}

.modal-close{
    position: absolute;
    right: 0%;
    padding: 15px;
    color: dark;
    background-color: #dadada;
}

.modal-close:hover {
    background-color: orange;
}

.chi-tiet-header{
    width: 100%;
    height: 700px;
    background-color: #BEFFF7;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

 .modal-chi-tiet-image{
    position: absolute;
    left: 0;
    top: 7%;
    height: 240px*2;
    width: 190px*2;

}

.chitiet-right{
    position: absolute;
    top: 7%;
    left: 50%;
    font-size: 2.4rem;
}

#image-chitiet{
    
    height: 240*1.3px;
    width: 190*1.2px;
}