/* /////////// CONTENT ////////////// */

.content{
    background-color: #c4ffc5;
    width: 100%;
    padding-bottom: 150px;
}
.content h1{
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.main-content{
    position: relative;
    margin-left: calc( 50% - 500px);
    width: 1000px;
    padding: 20px;
    padding-top: 20px;
}

#flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}



.flex-item {
    flex: 1;
    text-align: center;
    position: relative;
}
.flex-image-ctn{
    border-radius: 10px;
    height: 240px;
    width: 190px;
    overflow: hidden;

}

.flex-item{
    height: 280px;
    width: 170px;
    margin: 10px 20px 10px 20px;
    padding: 5px 5px 10px 5px;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #5b8f5e 0%, #c4ffc5 40%, transparent 25%, transparent 100%) 1;
}

.flex-item:hover{
    cursor: pointer;
}

.flex-item:hover #flex-image{
    transform: scale(1.2);
}

.flex-item:hover .add-to-cart-button{
    opacity: 1;
}
.flex-item:hover .annut{
    opacity: 1;
}

.add-to-cart-button :active{
    background-color: #2515d5;
    color: #2515d5;
}

.div-img{
    overflow: hidden;
    
}

#flex-image{
    transition: transform 0.3s ease-in-out;
    height: 240px;
    width: 190px;
}

.name{
    font-size: 15px;
}
.price{
    font-size: 10px;
}
#item-ID{
    display: none;
}

.button-flex{
    position: absolute;
    width: 99%;
    top: 70%;
    display: block;
}
.button-flex *{
    padding: 17px;
    
}

.annut{
    background-color: #4a90ff; /* Màu nền cho nút */
    color:#f3f4f5; /* Màu chữ cho nút */
    opacity: 0; 
    transition: opacity 0.3s; /* Tạo hiệu ứng transition cho thuộc tính opacity */
    border: solid 1px;
    font-size: 1.1rem;
    width: 50%;
}


.add-to-cart-button {
    background-color: #4a90ff; /* Màu nền cho nút */
    color:#f3f4f5; /* Màu chữ cho nút */
    opacity: 0; 
    transition: opacity 0.3s; /* Tạo hiệu ứng transition cho thuộc tính opacity */
    border: solid 1px;
    font-size: 1.1rem;
}

.add-to-cart-button:hover {
    background-color: rgb(255, 100, 100);
    color: white;
    cursor: pointer;
}
.annut:hover {
    background-color: rgb(255, 100, 100);
    color: white;
    cursor: pointer;
}

#pagination{
    position: absolute;
    left: calc( 50% - 140px);
    width: 260px;
    bottom: -100px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
#pagination li{
    border: solid 1px black;
    padding: 15px;
    height: 45px;
    width: 45px;
    font-size: 15px;
    text-align: center;
}
#pagination :hover, .current{
    cursor: pointer;
    background-color: #64a767;
}