/* ///////////// HEADER ////////////// */

.header {
    background-color: rgba(120, 187, 123, 255);
    height: 150px;
    font-size: 3rem;
    padding: 0px;
}



.header_my {
    display: flex;
    justify-self: end;
    margin-bottom: -50px;
    position: absolute;
    top: 50px;
    right: 0;
}

.header_my * {
    height: 45px;
    width: 60px;
}

.header_top {
    display: flex;
    justify-content: space-between;
}

.main_header {
    display: flex;
    /* justify-content: space-between; */
    height: 50px;
}

.logo_name {
    margin-left: 30px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_name p {
    font-size: 60px;
    font-family: 'Toothless';
    color: #FEFAE0;
    letter-spacing: 10px;
    text-align: center
}
.logo_slogan p{
    font-size: 40px;
    word-spacing: 10px;
    font-family: 'Toothless';
    color: #994D1C;
}

.logo {
    height: 150px;
    width: 350px;
    margin-left: 50px;
    display: flex;
}
.logo:hover{
    cursor: pointer;
}

#home-logo {
    width: 175px;
    height: 120%;
    margin: -15px 0 0 -25px;
}
#status{
    /* background-color: #6499E9; */
    width: 300px;
    top: 45px;
    list-style: none;
    font-size: 2rem;
    margin: 0 10px 0 10px;
    position: absolute;
    color: red;
}


.search-box .search-btn:hover {
    background-color: #6499E9;
    color: aquamarine;
}