/* Login & Register */


/* Login & Register */
.modal{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 10;
	overflow-y: auto;
}

#login{
    position: relative;
    max-width: 400px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;    
    padding: 20px;
    animation: topdown 0.3s;
    border-radius : 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1);
    display: none ;
    
}
#login .close{
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 35pt;
	transform: rotate(45deg);
	background-color: transparent;
	cursor: pointer;
	outline: none;
    border: none;
}
#login .close:hover{
	color: #ff4700;
    font-size: 40pt;
}

#login h2{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(13, 13, 12);
    text-align: center;
}
#login .logininfo{
	justify-content: center;
}

#login div[id*="error"]{
	width: 100%;
	color: #fa110d;
	margin: 5px auto 0;
	padding: 5px;
	display: none;
	cursor: default;
}
#login .input_box {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 40px;  
}

#login input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    transition: all 0.2s ease;
    padding-left: 25px;
    border-bottom: 1.5px solid gray;
    text-align: center;
    
}
#login input:focus {
    border-color:red;
    text-align: center;
}
#login i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(81, 80, 80)
}

#login #btnlogin {
    background: blue;
    color: #ffffff;
    margin-top: 60px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 25px;
}
#login #btnlogin:hover {
    background-color:orangered;
	color: white;
}
#login a{
	text-decoration: none;
	color: rgb(60, 0, 255);
	font-weight: bold;
    font-size: 18px;
}
#login a:hover{
	color: #ff4700;
}


#signup{
    position: fixed;
    max-width: 700px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:101;    
    padding: 20px;
    border-radius : 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1);
    display: none ;
}

#signup .close{
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 35pt;
	transform: rotate(45deg);
	background-color: transparent;
	cursor: pointer;
	outline: none;
    border: none;
}
#signup .close:hover{
	color: #ff4700;
    font-size: 40pt;
}

#signup .signupinfo{
	display: flex;
	flex-wrap: wrap;
}
#signup .col{
	width: 50%;
    margin-left: 0;
}

#signup h2{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: rgb(13, 13, 12);
    text-align: center;
    font-weight: bold;
}

#signup .input_box {
    position: relative;
    margin-top: 40px;
    width: 350px;
    height: 45px;  
    padding:  0 50px; 
}
#signup input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    transition: all 0.2s ease;
    padding-left: 25px;
    border-bottom: 1.5px solid gray;
    text-align: center;
    
}

#signup input:focus {
    border-color:red;
    text-align: center;
}
#signup i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(81, 80, 80)
}

#signup #btnsignup{
    background: blue;
    color: #ffffff;
    margin-top: 40px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 25px;
}
#signup #btnsignup:hover {
    background-color:orangered;
	color: white;
}

.login_signup{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;

}
#signup a{
    text-decoration: none;
    color: #2515d5;
    font-size: 18px;
    font-weight: bold;
}

#signup a:hover{
    text-decoration: none;
	color: red;
    font-size: 18px;
    font-weight: bold;
}
#signup div[id*="error"]{
	width: 100%;
	color: #f1110d;
	margin: 5px auto 0;
	padding: 5px;
	display: none;
	cursor: default;
}
.login_signup {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
/* #userFullName {
    cursor: pointer; 
    font-size: 12px;  
    font-weight: bold; 
    color: #333; 
    margin-bottom: 10px; 
    
  } */
.header_my ul.right{
    font-size: 25px;
    display: flex;
    font-weight: bold;
    margin-right: 10px;
}
#pw_hide {
    right: 0;
}
#pw_hide2 {
    right: 0;
}
#pw_hide3 {
    right: 0;
}
/*customalert*/
#customalert {
    visibility: hidden;
    min-width: 250px;
    color: #fff;
    font-size: 14pt;
    text-align: center;
    border-radius: 2px;
    padding: 20px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}
#customalert.show {
    visibility: visible;
 	animation: fadein 0.5s, fadeout 0.5s 3s;
}
@media only screen and ( max-width : 1000px)
{
    .signup{
    max-width: 350px;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index:101;    
    padding: 20px;
    border-radius : 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1);
    }
    .signupinfo{
        display:inline-block;  
    }
    .signup .input_box{
        width: 80%;
    }
    .input_box input {
        width: 100%;
    }
    .login{
        position: fixed;
        max-width: 350px;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index:101;    
        padding: 20px;
        border-radius : 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1);
    }
    .input_box {
        width: 80%;
    }
    
    .input_box i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: rgb(81, 80, 80)
    }
}
.invalid .input_box {
    border-bottom-color: #f33a58;
}

.invalid .register-form .input_box {
    border-color: #f33a58;
}

.invalid .form-message {
    color: #f33a58;
}

#signup div[id*="error"]{
    font-size: 15px;
    line-height: 30px;
    position: absolute;
}
#login div[id*="error"]{
    font-size: 15px;
    line-height: 30px;
    position: absolute;
}
#userInformation{
    height: 220px;
    width: 500px;
    position: fixed;
    top: calc(100vh - 450px);
    left:calc(50% - 250px);
    z-index: 2;
    background-color: white;
    display: none;
    justify-content: center;
    background-color: rgba(120, 187, 123, 0.95);
    /* background-color: red; */
    box-shadow: 0 0 20px 20px rgba(120, 187, 123, 0.95);
}
#userInformation #closeInfor{
    font-size: 40px;
    margin-left: calc(100% - 30px);
    color: rgb(122, 60, 13);
    cursor: pointer;
    transform: rotate(45deg);
}
#userInformation #closeInfor:active{
    color: #f8ad58;
}
#userInformation label{
    font-size: 30px;
    margin: 10px;
}
#userInformation input{
    font-size: 25px;
    border: 0;
    height: 30px;
    width: 300px;
    margin: 10px 0;
    text-align: left;
    padding-bottom: 2px;
    background-color: rgba(120, 187, 123, 0);
    color: black;
}
#userInformation button{
    width: 120px;
    height: 30px;
    margin-left: calc(100% - 300px);
    border: solid 1px;
    cursor: pointer;
    background-color: #d6a370;
    font-size: 15px;
    position: relative;
    border: 0;
    box-shadow: 0 0 10px 5px #d6a370;
}
#userInformation button p{
    display: inline;
    position: absolute;
    left: 45px;
    top: 5px;
}
#userInformation button img{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 15px;
    top: 5px;
    display: inline;
}
#userInformation button:active{
    background-color: #994D1C;
    box-shadow: 0 0 10px 10px #994D1C;
}


#userInformation{
    height: 220px;
    width: 400px;
    position: fixed;
    top: calc(100vh - 450px);
    left:calc(50% - 200px);
    z-index: 2;
    background-color: white;
    display: none;
    justify-content: center;
    background-color: rgba(120, 187, 123, 0.99);
    border: solid 3px rgba(72, 113, 74, 1);
}
#userInformation #closeInfor{
    font-size: 40px;
    margin-left: calc(100% - 30px);
    color: rgb(122, 60, 13);
    cursor: pointer;
    transform: rotate(45deg);
}
#userInformation #closeInfor:active{
    color: #f8ad58;
}
#userInformation img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
}
#userInformation label{
    font-size: 30px;
    margin: 10px;
}
#userInformation input{
    font-size: 25px;
    border: 0;
    height: 30px;
    width: 220px;
    margin: 10px 0;
    text-align: left;
    padding-bottom: 2px;
    background-color: rgba(120, 187, 123, 0);
    color: black;
}
#userInformation button{
    width: 120px;
    height: 30px;
    margin-left: calc(100% - 300px);
    border: solid 1px;
    cursor: pointer;
    background-color: #d6a370;
    font-size: 15px;
    position: relative;
    border: 0;
    box-shadow: 0 0 10px 5px #d6a370;
}
#userInformation button p{
    display: inline;
    position: absolute;
    left: 45px;
    top: 5px;
}
#userInformation button img{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 15px;
    top: 5px;
    display: inline;
}
#userInformation button:active{
    background-color: #994D1C;
    box-shadow: 0 0 10px 10px #994D1C;
}
