


/*//////////////////////////////*/




/* Tùy chỉnh bảng */
#cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#cart-table th,
#cart-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#cart-table th {
    background-color: #f2f2f2;
}

/* Tùy chỉnh nút */
.accept-button,
.ignore-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.accept-button:hover,
.ignore-button:hover {
    background-color: #0056b3;
}

.accept-button:disabled,
.ignore-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.accept_status {
    color: green;
}

.ignore_status {
    color: red;
}

#bhead{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bhead button{
    height: 30px;
    width: 80px;
    background-color: rgb(71, 200, 71);
    margin-right: 100px;
}
#classify-brand select, #classify-brand input{
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}
#classify-brand{
    font-size: 25px;
    margin-left: 50px;
    border-spacing: 30px;
}